extends layout

block content
  div(class='post' id='welcome')  
   h2 Welcome to sparkchat
  div(class='detail')
   input(type='text' class='name' name='det_name' placeholder='Enter your name..' id='NAME_I' )
   input(type='button' class='btn' name='det_btn' value='START' id='BTN_I')
